# Local Windows
COMPOSE_FILE=docker-compose.yml;docker-compose.local.yml
APP_ENV=local

# Si usas Linux o macOS en local, cambia el separador:
# COMPOSE_FILE=docker-compose.yml:docker-compose.local.yml

LOCAL_VITE_API_URL=http://localhost:9001
LOCAL_CANCEL_FRONTEND_URL=http://localhost:5173/citas/cancelar
FRONTEND_HOST_PORT=5173
BACKEND_HOST_PORT=9001
DB_HOST_PORT=3306

# Si ya tienes MySQL/MariaDB en el puerto 3306, cambia DB_HOST_PORT a 3307.
